<%- include('partials/header') %> 

<p>Chez nous, le client est roi ! Vous pouvez tout gérer, même les cookies qui sont nécessaires à notre bon fonctionnement (ces cookies qui permettent…). 
    Choisissez votre niveau de confidentialité/sachez-en plus ! 
    Si vous vous en moquez, on s’occupe de tout : en poursuivant votre navigation, vous acceptez l’installation des cookies.</p>

<%- include('partials/footer') %> 