<%- include('partials/header') %> 

    <main>
        <h2>Bienvenue sur le dictionnaire en ligne de la promotion Olduvaï concernants la formation fullstack JS, de l'école O'Clock.</h2>
        <p>Ici tu pourras consulter les définitons concernants des élements que tu as vu durant ton apprentissage que tu aurras peut-être oublier, mal compris ou tout simplement afin de t'aider durant tes projets ;)</p>
        <h3>Recherche par saisie</h3>
        <form>
            <p>
            Entrez votre saisie :<br>
            <input name="Rechercher" type="text" size="30" maxlength="30">
            <input type="button" value="Valider">
            </p>
        </form>
        <h3>Liste</h3>
        <a class="size_list" href="liste">A</a>
        <a class="size_list" href="#">B</a>
        <a class="size_list" href="#">C</a>
        <a class="size_list" href="#">D</a>
        <a class="size_list" href="#">E</a>
        <a class="size_list" href="#">F</a>
        <a class="size_list" href="#">G</a>
        <a class="size_list" href="#">H</a>
        <a class="size_list" href="#">I</a>
        <a class="size_list" href="#">J</a>        
        <a class="size_list" href="#">K</a>
        <a class="size_list" href="#">L</a>
        <a class="size_list" href="#">M</a>
        <a class="size_list" href="#">N</a>
        <a class="size_list" href="#">O</a>
        <a class="size_list" href="#">P</a>
        <a class="size_list" href="#">Q</a>
        <a class="size_list" href="#">R</a>
        <a class="size_list" href="#">S</a>
        <a class="size_list" href="#">T</a>
        <a class="size_list" href="#">U</a>
        <a class="size_list" href="#">V</a>
        <a class="size_list" href="#">W</a>
        <a class="size_list" href="#">X</a>
        <a class="size_list" href="#">Y</a>
        <a class="size_list" href="#">Z</a>
    </main>

<%- include('partials/footer') %> 