<%- include('partials/header') %> 

    <main>
        <!-- Ici il faut reussir à appliquer cet HTML pour toutes les lettres de l'alphabet sans avoir à le repeter 26 fois pour chaque lettre et cela de maniere à ce qu'il affiche les bonnes infos -->
        <h1>Mots commencant par la lettre A</h1>
        <p>Afficher tout les resultats pour les mots commencant par A</p>
        <p>Exemple :
            <ul>
                <li><h4>Application</h4>Dossier conetant des sous dossier, qui contient des fichiers... <br></li>
                <li><h4>App</h4>Sous-dossier du dossier application, contenant des sous-dossiers... lorem ipsum dolor sit amet</li>
            </ul>
        </p>          
    </main>

<%- include('partials/footer') %> 