<!--Il faudrait fixer le footer en bas de page meme quand il n'y a pas de contenue entre le header et le footer-->
<footer>
    <a class="lien_footer_color" href="contact">Contact</a>
    <a class="lien_footer_color" href="aide#FAQ">FAQ</a>
    <a class="lien_footer_color" href="cookies">Cookies</a>
    <p>© 2022-2023, Promotion Olduvaï de l'école O'Clock</p>
</footer>

</body>
</html>