<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Reset CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- CSS -->
    <link href="../../../public/css/styles.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../../../public/logo/favicon.ico">

    <title>Dic O'Clock</title>
</head>

<body>
    <header>
        <h1><a href="homepage">Dic O'Clock</a></h1>
        <nav>
            <ul>
                <li><a href="homepage">Accueil</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="aide">Aide</a></li>
            </ul>            
        </nav>
    </header>